html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
}
body {
    background: #DAE3E7
}
.logo-icon {
    height: 170px;
}
.nav-top {
    background-color: #f9ddf9;
    margin-bottom: 40px;
}
.wrap-info {
  margin: 15px 0px;
}
.reverse-background .list-group-item {
    background: transparent;
    border: none;
}
ul > li > i.fa {
  margin-right: 15px;
  font-size: 20px;

}
.row.content {
    margin-bottom: 20px;
}
.text-nav {
    color: white !important;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    .navbar-form {
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo-icon {
        text-align: center;
    }
    .right-tab-info {
        text-align: center;
    }
    .nav-top {
        margin-bottom: 20px;
    }
}
ul.personal-detail {
    list-style: none;
    padding-left: 15px;
}